# system files
.DS_Store
Thumbs.db

# vscode
.vscode

# r
/renv
.Rhistory

# web dev
/node_modules

# quarto
/.quarto/

# output folder (you may want to exclude files when we publish!)
/out/*  
/out/img/*

# data folder 
data/*  
!data/final
data/final/*
!/data/final/mental_health_census.csv
!/data/final/mental_health_hotspot.geojson